* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background: rgb(250, 248, 248);
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: sticky;
  z-index: 999;
  top: 0;
  box-shadow: 0px 0px 10px rgb(145, 141, 141);
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background: #1f4037; /* fallback for old browsers */
  background: linear-gradient(
    to bottom,
    #99f2c8,
    #1f4037
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 4rem;
  font-family: "Rancho", cursive;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__items {
  height: 80px;
}

.navbar__links {
  display: flex;
  color: rgb(145, 139, 139);
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 100%;
  padding: 2.5rem;
  font-family: "Open Sans", sans-serif;
}

.navbar__btn {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 30px;
  background: #17c6cc;
  color: #fff;
}

.button:hover {
  background: #df7063;
  transition: all 0.4s ease;
}

.navbar__links:hover {
  text-decoration: underline;
  color: #df7063;
  transition: all 0.3s ease;
}

@media screen and (max-width: 998px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
    background: #1f1e1e;
  }

  .navbar__menu.active {
    background: #242323;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: rgb(138, 137, 137);
  }
  .navbar__items {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80%;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  /*Styles the Hamburger menu icon*/
  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }
  /*Code for animating hamburger menu*/
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*Hero section*/

.hero__container {
  display: flex;
  align-items: center;
  height: 25vh;
}

.hero__heading {
  color: #a70992;
  background-size: 100%;
  margin: 10px auto;
  padding: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 2.5em;
}

/*Catalog Section CSS*/

.catalog__container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catalog__container h1 {
  color: #fff;
  margin: 20px auto;
  padding: 30px 0px;
}

.catalog__img--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  grid-gap: 50px;
}

.catalog__img--card {
  margin: 1rem;
  height: 590px;
  width: 400px;
  border-radius: 4px;
  background-image: url(images/pexels-monica-silvestre-1046340.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgba(21, 255, 111, 0.911);
  font-size: 4em;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  box-shadow: 0px 5px 10px rgb(153, 152, 152);
  transition: all 0.2s ease-in-out;
  margin-bottom: 100px;
}

.catalog__img--card:hover {
  transform: scale(1.1);
}

.catalog__img--card:nth-child(2) {
  background-image: url(images/pexels-julia-volk-6297518.jpg);
  color: rgb(253, 170, 184);
}

.catalog__img--card:nth-child(3) {
  background-image: url(images/pexels-max-vakhtbovych-6447381.jpg);
  color: rgb(255, 251, 0);
}
.catalog__img--card:nth-child(4) {
  background-image: url(images/bonzai.jpg);
  color: rgb(248, 143, 23);
  background-position: center;
}
.catalog__img--card:nth-child(5) {
  background-image: url(images/pexels-teona-swift-6912838.jpg);
  color: rgb(255, 0, 157);
}
.catalog__img--card:nth-child(6) {
  background-image: url(images/pexels-владимир-гладков-6208086.jpg);
  color: rgb(18, 18, 71);
}

/*Product Pages CSS*/

.product__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  grid-template-areas: "left, right";
  margin-bottom: 20px;
}

.product__img--card {
  margin: 1rem;
  height: 490px;
  width: 400px;
  border-radius: 4px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgba(21, 255, 111, 0.911);
  font-size: 4em;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  box-shadow: 0px 5px 10px rgb(153, 152, 152);
  transition: all 0.2s ease-in-out;
}

#left {
  margin: 0 auto;
  padding: 5%;
}

#right {
  align-self: center;
  width: 75%;
  height: 300px;
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgb(153, 152, 152);
}

.product_description,
.product__name {
  width: 75%;
  text-align: Left;
  font-family: "Open Sans", sans-serif;
  color: rgb(124, 124, 124);
  font-size: 1em;
}

.product__name {
  margin: 50px auto 20px auto;
}

.product_description {
  margin: 30px auto 50px auto;
  font-weight: bold;
}

/*About Page CSS*/
.about__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  grid-template-areas: "left, right";
  margin-bottom: 20px;
}

.botanical__img--card {
  margin: 1rem;
  height: 450px;
  width: 400px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgba(21, 255, 111, 0.911);
  font-size: 4em;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

/*Footer CSS*/
.footer__container {
  background: rgb(250, 248, 248);
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 0px 10px rgb(145, 141, 141);
}

.social__icon--link {
  padding: 10px;
}

/*Mobile CSS--index*/

@media screen and (max-width: 967px) {
  .hero {
    display: flex;
    flex-direction: column;
    height: 200px;
  }

  .hero__heading,
  .hero__text {
    font-size: 2rem;
    text-align: center;
  }

  .catalog__img--container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .catalog__img--card {
    height: 600px;
  }
}

@media screen and (max-width: 955px) {
  .catalog__img--container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 955px) {
  .catalog__img--container {
    display: flex;
    flex-direction: column;
  }
}

/*Product Pages Mobile CSS*/

@media screen and (max-width: 1254px) {
  .product__container {
    display: flex;
    flex-direction: column;
  }

  .product__img--card {
    height: 600px;
  }

  .product__name,
  .product_description {
    text-align: center;
  }
}

@media screen and (max-width: 955px) {
  .product__container {
    display: flex;
    flex-direction: column;
  }
  .product__img--card {
    height: 400px;
  }
}

@media screen and (max-width: 414px) {
  .navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  #navbar__logo {
    padding-left: 10px;
    font-size: 1.5em;
  }

  .product__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  #left {
    margin-left: 30px;
  }
  .product__info {
    text-align: center;
    font-size: 0.8em;
  }
  #product_thumbnail {
    align-self: center;
    width: 75%;
    height: auto;
  }

  .footer__container {
    display: flex;
    font-size: 1em;
    height: 50px;
  }
}
